<header><%= render partial: 'partial/header'%></header>
<div class="container">
<% if @tasks.any? %>
<ul>

<% @tasks.each do |task| %>
  <li><%= link_to task.title,task %></li>
  <%end%>
  <%end%>
</ul>
<%= link_to "New Task", new_task_path %>

</div>
